@model IEnumerable<GroupElementViewModel>

<select class="form-select">
    @foreach (var group in Model)
    {
        @if (group.Selected)
        {
            <option selected>@group.Name</option>
        }
        else
        {
            <option>@group.Name</option>
        } 
    }
</select>