@model StudentViewModel

@{
    var isEditMode = Model.Id != 0;
    var actionText = isEditMode ? "Сохранить" : "Создать";
    ViewData["Title"] = actionText;
}

<form asp-controller="Students" asp-action="Edit" asp-route-id="@Model.Id" class="row g-3">
    <div class="col-md-3">
        <label asp-for="LastName" class="form-label">Фамилия: </label>
        <input asp-for="LastName" type="text" class="form-control" placeholder="Введите фамилию студента..." />
    </div>

    <div class="col-md-3">
        <label asp-for="Name" class="form-label">Имя: </label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Введите имя студента..." />
    </div>

    <div class="col-md-3">
        <label asp-for="Patronymic" class="form-label">Отчество: </label>
        <input asp-for="Patronymic" type="text" class="form-control" placeholder="Введите отчество студента..." />
    </div>

    <div class="col-9">
        <label asp-for="GroupId" class="form-label">Название группы: </label>
        @await Component.InvokeAsync("Dropdown", Model.GroupId)
    </div>

    <div>
        <button class="btn btn-success">@actionText </button>
        <button asp-action="Index" class="btn btn-primary">Назад </button>
        @if (isEditMode)
        {
            <button asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Удалить </button>
        }
    </div>
</form>