@model StudentViewModel

@{
    var isEditMode = Model.Id != 0;
    var action = isEditMode ? "Edit" : "Create";
    var actionText = isEditMode ? "Сохранить" : "Создать";
    ViewData["Title"] = action;
}

<form asp-controller="Students" asp-action="@action">
    <div>
        <label asp-for="LastName">Фамилия: </label>
        <input asp-for="LastName" type="text" placeholder="Введите фамилию студента..." />
    </div>

    <div>
        <label asp-for="Name">Имя: </label>
        <input asp-for="Name" type="text" placeholder="Введите имя студента..." />
    </div>

    <div>
        <label asp-for="Patronymic">Отчество: </label>
        <input asp-for="Patronymic" type="text" placeholder="Введите отчество студента..." />
    </div>

    <div>
        <label asp-for="GroupId">Название группы: </label>
        <input asp-for="GroupId" type="text" placeholder="Введите название группы студента..." />
    </div>

    <div>
        <button>@actionText </button>
        <button asp-action="Index">Назад </button>
        @if (isEditMode)
        {
            <button asp-action="Delete" asp-route-id=@Model.Id>Удалить </button>
        }
    </div>
</form>
