@model IEnumerable<StudentViewModel>

<div style="margin-bottom: 20px;" class="text-center">
    <h1>Список студентов</h1>
</div>

<ul class="list-group">
    @foreach (var stud in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @stud.FullName
            <div>
                <a class="btn btn-primary" asp-controller="Students" asp-action="Edit" asp-route-id="@stud.Id">Редактировать</a>
                <a class="btn btn-danger" asp-controller="Students" asp-action="Delete" asp-route-id="@stud.Id">Удалить</a>
            </div>
        </li>
    }
</ul>

<a style="margin-top: 20px;" class="btn btn-success" asp-controller="Students" asp-action="Edit" asp-route-id="0">Создать студента</a>