@using StudentsManager.ViewModels;
@model IEnumerable<StudentsViewModel>

<div>
    <div>
        <a class="btn btn-success" asp-controller="Students" asp-action="Edit" asp-route-id="0">Create new student</a>
    </div>

    <ol class="list-group">
        @foreach (var stud in Model)
        {
            <li class="list-group-item">
                <p class="stud-name">@stud.Name @stud.LastName @stud.Patronymic</p>
                <a class="btn btn-primary" asp-controller="Students" asp-action="Edit" asp-route-id="@stud.Id">Edit</a>
            </li>
        }
    </ol>
</div>