@model IEnumerable<StudentViewModel>

<div>
    <div>
        <a class="btn btn-success" asp-controller="Students" asp-action="Edit" asp-route-id="0">Create new student</a>
    </div>

    @{
        await Html.RenderPartialAsync("_StudentsListView", Model);
    }
</div>