@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Узнайте о <a href="https://docs.microsoft.com/aspnet/core">создании Веб-приложений с ASP.NET Core</a>.</p>
</div>
